@import url("common.css");
@import url("side_menu.css");
@import url("staff_entry.css");

.image-container {
    position: relative;
}

.header-info {
    margin-left: 0px;
    margin-right: 0px;
}

#page-header {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    color: #E5E5E5;
    display: block;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: calc( 75% - 65px);
    font-size: 4rem;
    font-weight: 500;
    line-height: 1.1;
    text-decoration: none;
    z-index: 1;
    background-color: transparent;
}

.header-image {
    filter: blur(67px);
    height: auto;
    width: 100%;
    position: relative;
    z-index: -1;

}


.image-notes {
    position: absolute;
    top: 69%;
    left: 11%;
    color: #e6e4e4;
    font-size: 16px;
    margin-right: 51%;
    font-weight: 600;
    line-height: 1.3;
}

.spanish {
    text-align: left;
    background-color: #496B7B;
    padding-left: 10%;
    padding-right: 40%;
    padding-top: 5%;
    padding-bottom: 5%;
    color: #e6e4e4;
    margin-top: 5%;

}
.science{
    text-align: left;
    
    padding-left: 10%;
    padding-right: 40%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.art {
    text-align: left;
    
    padding-left: 10%;
    padding-right: 40%;
    padding-top: 5%;
    padding-bottom: 5%;

}
.music{
    text-align: left;
    
    padding-left: 10%;
    padding-right: 40%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.spanish h2 {
    color: #e6e4e4;
    font-weight: 600;
}
main h2{
    font-weight: 600;
}
.spanish p {
    color: #e6e4e4;
    font-size: 16px;
}

.spanish a{
    color: #e6e4e4;
}

.art {
    text-align: left;
    background-color: #a51417;

    color: #e6e4e4;
    margin-top: 4%;
}

.art h2 {
    color: #e6e4e4;
    font-weight: 600;
}

.art p {
    color: #e6e4e4;
    font-size: 16px;
}

.art a{
    color: #e6e4e4;
}

.staff-members-container {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    /* padding-left: 20px; */
    /* padding-right: 20px; */
}

.individual-staff-member {
    width: 30%; /* Adjust as needed */
    margin-bottom: 20px; /* Adjust as needed */
    box-sizing: border-box;
}

.individual-staff-member-inner-div {
    border: 1px solid #ddd; /* Add border as needed */
    padding: 10px; /* Adjust as needed */
    text-align: left;
}

.individual-staff-member-data {
      margin-top: 10px; /* Adjust as needed */
}
main p{
    font-size: 16px;
}