.footer {
    display: block !important;
    padding: 1.3em 0;
    margin-bottom: 0;
    background-color: #8F8F8F;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.footer-widgets {
    margin-top: 1em;
    display: flex;
    clear: both;
    margin-bottom: 1em;
    text-align: left;
  
    justify-content: space-evenly;
    flex-direction: row;
}

.site-info {
    clear: both;
}
ul{
    list-style-type: none;
}

.footer-widgets .site-contact {
   
    margin-right: 0;
    text-align: center;
    border-top: none;
    margin-bottom: 1.8em;
}
.footer-widget-title{
    margin-bottom: 3%;
    font-size: 30px;
}
#contact-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.widget-wrapper {
  
  
    text-align: left;
}
#contact-form button{
    border: 0.2px solid #a51417;
    color: #e6e4e4;
    background: #a51417;
    padding-right: 2%;
    padding-left: 2%;
    padding-top: 6px;
    padding-bottom: 10px;
    border-radius: 48px;
    margin-top: 2%;
    margin-left: 216px;
}
#contact-form:hover a{
    background-color: #eee;
    color: #a51417;
    }
   

.footer-widgets .widget-count-2 {
  

}

footer a {
    color: white;
}