@import url("common.css");
@import url("slideshow.css");

.image-container {
    position: relative;
}


#site-title {
    position: absolute;
    top: 57%;
    left: 38%;
    transform: translate(-50%, -50%);
    color: #E5E5E5;
    display: block;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: calc( 75% - 65px);
    font-size: 4rem;
    font-weight: 500;
    line-height: 1.1;
    text-decoration: none;
    z-index: 1;
    background-color: transparent;
}

.header-image {
    
    filter: brightness(50%);
    position: fixed;
    z-index: -2;
    margin-top: -6%;
}

#first-article-first-text {
    font-weight: lighter;
    line-height: 1.333;
    font-size: 1.728rem;
    color: #bbb;
}

#first-article-second-text {
    font-weight: lighter;
    line-height: 1.333;
    font-size: 1.2rem;
}
#our-mission {
    text-align: center;
    background-color: #496B7B;
    padding: 80px;
   
    margin-top: 11%;
    /* color: #eee; */
}
#our-mission p {
    /* margin: 2%; */
    /* margin-left: -3%; */
    /* margin-right: 0%; */
    padding-left: 4%;
    padding-right: 4%;
    /* margin-bottom: -1em; */
    font-size: 16px;
    color: #eee;
    /* text-align: center; */
    line-height: 1.5;
}
#our-mission h1 {
   
    color: #eee;
}
#visit-our-school {
    text-align: center;
    background-color: #eee;
    padding: 100px;
    margin-bottom: 2em;
}

#visit-our-school p {
    text-align: center;
    margin-bottom: 2em;
    font-size: 18px;
    line-height: 1.3;
}

#visit-our-school a {
    color: #a51417;
    border: #a51417;
    border-width: 3px;
    border-radius: 48px;
    border-style: solid;
    font-size: 1rem;
    line-height: 1.1;
    padding: 15px 89px;
    text-decoration: none;
}
#visit-our-school .contactbutton:hover a{
    background-color: #a21417;
    color: #eee;
}
#column-view {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.classroom_h1 h1{
    text-align: center;
    color: #eee;
    padding-top: 7%;
}
.column {
    margin-top: -3%;
    background-color: #a21417;
    width: 100%;
    /* padding: 16px; */
    font-size: 1em;
}

.column .inner-div {
    display: flex;
    padding: 1em;
    margin-right: 2%;
    /* border-style: solid; */
    /* border-width: 1px; */
    /* border-color: #eee; */
    /* padding: 163px 0px; */
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 5%;
}


.column h3 {
    
    font-size: 40px;
}

.column a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: block;
    /* padding-left: 24px; */
    margin-bottom: 1em;
    font-size: 1.25em;
    font-weight: 600;

}
.teddy-bears:hover  {
    color: #c4c4c4;
}
.panda-bears:hover  {
    color: #c4c4c4;
}
.bear-cubs:hover  {
    color: #c4c4c4;
}
.big-bears:hover  {
    color: #c4c4c4;
}
.sun-bears:hover  {
    color: #c4c4c4;
}
.column .inner-div a {
    text-align: center;
}

.column a.inline {
    color: #eee;
    text-decoration: underline;
    display: inline;
    padding-left: 3px;
    margin-bottom: 0em;
    font-size: 1em;
}

.entry__category a {
    font-size: 1em;
    color: #eee;
}

article h2 {
    font-size: 1.25rem;
}

.column article a {
    line-height: 1.8rem;
    font-size: 17px;
    text-decoration: none;
    margin: 0;
    color: #a21417;
    padding: 0;
}

.column article {
    padding: 1%;
    border-left: 0.5px solid #c4c4c4;
    margin-top: 3em;
    margin-bottom: 3em;
    margin-left: 7%;
    position: relative;
    left: -10%;
}

main hr {
    border: none;
    background-color: #eee;
    height: 1px;
}
.container {
    z-index: 3;
  }

  .image-notes {
    position: absolute;
    top: 351px;
    left: 50px;
    color: #e6e4e4;
    font-size: 18px;
    margin-right: 907px;
    font-weight: 200;
    line-height: 1.3;
}

.image-container a {
    position: absolute;
    top: 464px;
    text-decoration: none;
    border: 0.2px solid #a51417;
    color: #eee;
    background: #a51417;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    border-radius: 48px;
    font-size: 24px;
    cursor: pointer;
    left: 50px;
}
a.applynow:hover {
  background-color: #eee;
  color: #a21417;
} 
.mission_container {
    background-color: #00000054;
    padding: 3%;
}
.mission_info {
    display: flex;
    justify-content: space-evenly;
    padding-top: 2%;
}
.mission_header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 4%;

}
.mission_header h2 {
    color: #eee;

}

.icons1 {
    width: 8%;
    filter: invert(1);
    position: relative;
    right: 29%;
}
.icons3 {
    width: 8%;
    filter: invert(1);
    position: relative;
    right: 9%;
}
.icons2 {
    width: 8%;
    filter: invert(1);
    position: relative;
    left: 38%;
}
.mh1 {
    position: relative;
    left:-5%
}
.mh2{
    position: relative;
    left:-3%
}
.mh3 {
    position: relative;
    left:3%
}
.class_images {
    display: flex;
    justify-content: space-evenly;
    padding-top: 1%;
}

.column2{
    
    
        background-color: #eee;
        padding: 100px;
      
    }
 
 
    div#auto_gen_id_unq_85 {
        margin-right: 30%;
      
    }
  
    .announcement_all span {
        text-align: left;
        font-size: 11px;
    }
    .column-header h1{
        text-align: center;
        color: rgb(61, 61, 61);
    font-size: 40px;
    letter-spacing: 0.4px;
    line-height: 48px;
    margin-bottom: 32px;
    }
    .announcement_all {
        /* left: 1%; */
        /* position: relative; */
        background-color: #eee;
        padding-left: 11%;
        display: flex;
        /* text-align: center; */
        flex-direction: row;
        justify-content: space-evenly;
    }
    .button_announcement a {
        color: #a51417;
        border: #a51417;
        border-width: 3px;
        border-radius: 48px;
        border-style: solid;
        font-size: 1rem;
        line-height: 1.1;
        margin-left: 39%;
        text-align: center;
        margin-right: 40%;
        padding: 1%;
        position: relative;
    
    }
    .button_announcement{
        margin: 0%;
    }
    .button_announcement:hover a{
        background-color: #a21417;
        color: #eee;
    }
    .surveys {
        padding-left: 20%;
        background-color: #eeeeee;
        padding-right: 20%;
    }
    .panda-bears {
        position: relative;
        left: -1%;
    }
    .teddy-bears {
        position: relative;
        right: -1%;
    }
    .classes {
        transition: transform 0.3s; /* Add a smooth transition effect for the zoom */

    }
   .classes:hover {
    transform: scale(1.1); /* Apply a small zoom when active or when dropdown is hovered */

   }
    .bear-cubs {
        position: relative;
        left: -1%;
    }
    .big-bears {
        position: relative;
        left: -1%;
    }